*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{      
    width: 100%;
    height: 100vh; 
}
#main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main img{
    height: 530px;
    position: relative;
    z-index: 99;
}

#overlay-text{
    position: absolute;
    top: 25%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
}

#overlay-text h1{
    display: inline-block;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: "Monoton", sans-serif;  
    /* animation: Movingtext 1s linear infinite; */
    animation-name: Movingtext;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 30px;
    letter-spacing: 4px;
}

#overlay-text::-webkit-scrollbar{
    display: none;
}

#main #overlay-text2{
    position: absolute;
    top: 45%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 100;
}

#overlay-text2 h1{
    display: inline-block;
    font-size: 5rem;
    text-transform: uppercase;
    color: transparent;
    font-family: "Monoton", sans-serif;  
    -webkit-text-stroke-color: #F2A30B;
    -webkit-text-stroke-width: 1px;
    animation-name: Movingtext;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    margin-right: 30px;
    letter-spacing: 4px;
}

#overlay-text2::-webkit-scrollbar{
    display: none;
}

#main #overlay-text3{
    position: absolute;
    top: 65%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: -1;
}

#overlay-text3 h1{
    display: inline-block;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: "Monoton", sans-serif;  
    animation-name: Movingtext;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 30px;
    letter-spacing: 4px;
}

#overlay-text3::-webkit-scrollbar{
    display: none;
}

@keyframes Movingtext {
    0%{
        transform: translateX(calc(-100% - 32px));
    }
    100%{
        transform: translateX(0);
    } 
}

@media (max-width: 500px) {
    #main img{
        height: 70vh;
    }
  }